.main-results {
  background-image: url(https://raw.githubusercontent.com/piyush-eon/Reactjs-Quiz-App/master/public/ques1.png);
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.main-results h1 {
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.main-results button {
  margin: 20px;
  padding: 10px;
  width: 350px;
  border-radius: 20px;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .main-results h1 {
    font-size: 2rem;
  }
  .main-results button {
    width: 80%;
  }
}
