.main2 {
  background-image: url(https://i.pinimg.com/originals/b0/28/a2/b028a2493053bcd5537605a92d15593e.jpg);
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap3 {
  /* background-color: aqua; */
  height: 99vh;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
