.card-frame {
  border: 10px solid gray;

  width: 100%;
  height: 100%;
  text-align: center;
}
.card-frame h1 {
  color: black;
  text-transform: capitalize;
  line-height: 100px;
  font-weight: bold;
  letter-spacing: 2px;
}
.score-category {
  color: black;

  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-transform: capitalize;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}
.question-frame {
  width: 100%;

  height: 70%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.question {
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  height: 40%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answers {
  width: 100%;
  height: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.answer-frame {
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 255, 0.2);
  width: 40%;
  border-radius: 20px;
  height: 30%;
  margin: 10px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px;
  font-weight: 800;
  font-size: 20px;
  font-weight: 500;
}
.wrong {
  background-color: red;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 255, 0.2);
  width: 40%;
  border-radius: 20px;
  height: 30%;
  margin: 10px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px;
  font-weight: 800;
  font-size: 20px;
  font-weight: 500;
}
.right {
  background-color: green;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 255, 0.2);
  width: 40%;
  border-radius: 20px;
  height: 30%;
  margin: 10px;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  padding: 10px;
  font-weight: 800;
  font-size: 20px;
  font-weight: 500;
}
.question span {
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
}
.btn-frame {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.btn-frame button {
  padding: 10px;
  margin: 10px;
  width: 40%;
  outline: none;
  border: none;
  text-align: center;
  border: 2px solid;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 20px;

  box-shadow: 2px 0px 2px 1px rgba(0, 0, 255, 0.2);
}
.colorbtn {
  background-color: red;
}
.nextcolor {
  background-color: dodgerblue;
}
@media only screen and (max-width: 768px) {
  .card-frame {
    border: none;
  }
  .answer-frame {
    font-size: 0.9rem;
  }
}
