.main {
  background-image: url(https://i.pinimg.com/originals/b0/28/a2/b028a2493053bcd5537605a92d15593e.jpg);
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
